:root {
    --black: #000;
    --white: #fff;

    --gray-50: #fafafa;
    --gray-100: #f4f4f5;
    --gray-200: #e4e4e7;
    --gray-400: #a1a1aa;
    --gray-600: #52525b;
    --gray-900: #18181b;

    --radius: 18px;
    --space: 20px;
}

/* ==========================================================================
   Reset
   ========================================================================== */

* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

/* ==========================================================================
   Document
   ========================================================================== */

html {
    font-family: "Inter", system-ui, sans-serif;
    background: var(--white);
    color: var(--black);
}

body {
    margin: 0;
    min-height: 100vh;
}

/* ==========================================================================
   Layout
   ========================================================================== */

.app-shell {
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 28px 20px;
    /* padding: 28px 0px; */
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1,
h2,
p {
    margin-top: 0;
}

h1 {
    margin-bottom: 10px;

    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -0.04em;
}

h2 {
    margin-bottom: 14px;

    font-size: 18px;
}

p {
    color: var(--gray-600);
    line-height: 1.5;
}

a {
    color: var(--black);
}

/* ==========================================================================
   Common Helpers
   ========================================================================== */

.page-header {
    margin-bottom: 34px;
}

.tagline {
    font-size: 16px;
    color: var(--gray-600);
}

.muted {
    color: var(--gray-600);
}

/* ==========================================================================
   Generic Elements
   ========================================================================== */

ul {
    padding-left: 20px;
}

hr {
    margin: 28px 0;
    border: 0;
}