<div class="story-menu-container">

  <button
    id="story-menu-button"
    class="icon-button"
    type="button"
    title="Story menu">

    <span class="material-symbols-rounded">
      more_vert
    </span>

  </button>

  <div
    id="story-menu"
    class="story-menu"
    hidden>

    <button
      id="leave-button"
      class="story-menu-item"
      type="button">

      <span class="material-symbols-rounded">logout</span>
      <span>Leave Story</span>

    </button>

    {% if state.me.is_host %}
    <button
      id="end-button"
      class="story-menu-item danger"
      type="button">

      <span class="material-symbols-rounded">stop_circle</span>
      <span>End Story</span>

    </button>
    {% endif %}

  </div>

</div>